@model Koshop.DomainClasses.MultiPictureModule

<div class="an-premium-listing slider">
    <div class="an-title-container light-text">
        <h2 class="an-title">@Model.Title</h2>
    </div>
    <div class="owl-carousel default-slider testimonial with-bg">
        @foreach (var item in Model.MultiPictureItems)
        {
            <div class="item">
                <div class="an-listing-single">
                    <div class="listing-img-container"
                         style="background: url('/Content/Modules/Images/thumbnail/@item.Image') center center no-repeat;
                background-size: cover;">
                        <div class="listing-hover-content">
                            <a class="link-single" href="@item.LinkMore"><i class="ion-ios-paper color-property"></i></a>
                            <p>
                                <span><i class="typcn typcn-eye-outline color-job"></i> @item.TitleBold</span>
                                @*<span><i class="typcn typcn-heart-outline color-accents"></i> 234</span>*@
                            </p>
                            <button class="an-btn an-btn-black icon-left small-padding"><i class=""></i>مشاهده</button>
                        </div>
                    </div>
                    <div class="listing-content">
                        <div class="listing-name">
                            <i class="ion-ios-briefcase color-job"></i>
                            <h3><a href="@item.Link">@item.Title</a></h3>
                            <p class="color-primary">@item.Description</p>

                        </div>
                        @*<div class="listing-meta"><span><i class="ion-android-time"></i></span><span><i class="typcn typcn-location"></i></span></div>*@
                    </div>
                </div> <!-- end listing-single -->
            </div>
        }
    </div> <!-- end slider -->
</div> <!-- end primium-listing -->
