@model Koshop.DomainClasses.MultiPictureModule


<div class="an-header-banner with-slider">
    <div class="owl-carousel home-slider">
        @foreach (var item in Model.MultiPictureItems)
        {
            <div id="item_@item.MultiPictureItemsId">
                <div class="home-banner-content" style="background: url('/Content/Modules/Images/@item.Image') center center no-repeat;
                     background-size: cover;">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="details">
                            <h2 class="">@item.TitleBold</h2>
                            <h1 class="">@item.Title</h1>
                            <p class="">@item.Description</p>
                            <a href="@item.Link" class="an-btn an-btn-default">دیدن محصولات</a>
                            <a href="@item.LinkMore" class="an-btn an-btn-black">درباره ما</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

